@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
  
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    background: rgb(19, 19, 19);
}

body,
p {
  margin: 0;
}

div {
    display: inline-block;
}

a {
  color: currentColor;
  text-decoration: none;
}

.card {
  margin-top: 150px;
  width: 400px;
  border-radius: 75px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background: white;
  overflow: hidden;

  text-align: center;
}

.card__media {
  position: relative;

  display: grid;
  place-items: center;

  height: 200px;
  margin-bottom: 1rem;
  background: linear-gradient(#f60089, #ff1744);
}

.card__media2 {
    position: relative;
  
    display: grid;
    place-items: center;
  
    height: 200px;
    margin-bottom: 1rem;
    background: linear-gradient(#0004f6, #17a2ff);
}

.card__media3 {
    position: relative;
  
    display: grid;
    place-items: center;
  
    height: 200px;
    margin-bottom: 1rem;
    background: linear-gradient(#f60089, #ff1744);
}

.card__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card__wave {
  position: absolute;
  top: 100%;

  height: 24px;
  width: 100%;
}

.card__body {
  padding: 2.5rem;
}

.card__head {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.card__subhead {
  opacity: 0.75;
}

.card__actions {
  display: flex;
  justify-content: center;
}

.card__link {
  padding: 1.5rem;
  font-size: 1.25rem;
  transition: color 0.2s ease;
}

.card__link:hover {
  cursor: pointer;
  color: #f60089;
}

.btn-voltar {
    width: 20%;
    padding: 16px 0px;
    margin: 15px 0px 0px 0px;
    border: none;
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
    color: #333;
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 30px -12px #dfdfdf;
}



footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    min-height: 10px;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p
{
    color: rgb(19, 19, 19);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('https://cdn.discordapp.com/attachments/705621850440597635/990840338958667836/wave.png');
    background-size: 1000px 100px;
}

footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}